<div class="container-domaine">
    <div class="title-domaine" (click)="showThemes()">
        <p>{{theme.nom}}</p>     
        <div class="container-icons">
            <!-- <span>{{theme.formation.length}}</span> -->
            
            <mat-icon *ngIf="!isShowThemes && theme.themes">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="isShowThemes && theme.themes">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!theme.themes" class="mat-icon">visibility</mat-icon>
        </div>
              
    </div>
    <div *ngIf="isShowThemes" [ngStyle]="{'margin-left': '25px'}"  class="container-app-theme">
        <div class="title-domaine" *ngIf="theme.parent_id == null" (click)="showListFormation(theme)">
            <p [ngStyle]="{'background-color': '#f5f5f5', 'margin-left': '15px'}">{{theme.nom}}</p>
            <div class="container-icons">
                
                <mat-icon *ngIf="isShowThemes && theme.parent_id == null" class="mat-icon">visibility</mat-icon>
            </div>
        
        </div>

        

      
       

               
    




        <ng-container *ngFor="let theme of theme.themes">
            <app-sous-theme [theme]="theme"></app-sous-theme>
        </ng-container>
    </div>
</div>
