ICI VIENDRA LA NAVBAR !!!!

<div class="container_g">
  <div class="row">
    <div class="aside">
      <div class="nav-left">
        <div class="subMenuContainer">
          <h2>Catalogue des Formations</h2>

          <div class="span">
            <div id="Element1">Element 1</div>
            <div id="Element2">Element 2</div>
            <div id="Element3">Element 3</div>
            <div id="Element4">Element 4</div>
            <div id="Element5">Element 5</div>
            <div id="Element6">Element 6</div>
            <div id="Element7">Element 7</div>
            <div id="Element8">Element 8</div>
          </div>
        </div>
      </div>
      <div class="articles">
        <div class="nav-right">
          <div class="row">
          <!-- <div class="span"> -->
            <mat-card  >Simple card
              <mat-card-subtitle> La carte de la formation</mat-card-subtitle>
            </mat-card>
          <!-- </div> -->
           <!-- <div class="span"> -->
            <mat-card >Simple card
              <mat-card-subtitle> La carte de la formation2</mat-card-subtitle>
            </mat-card>
          <!-- </div> -->
            <!-- <div class="span"> -->
              <mat-card  >Simple card
                <mat-card-subtitle> La carte de la formation3</mat-card-subtitle>
              </mat-card>
            <!-- </div> -->
             <!-- <div class="span"> -->
              <mat-card >Simple card
                <mat-card-subtitle> La carte de la formation4</mat-card-subtitle>
              </mat-card>
            <!-- </div> -->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
