

          <div class="container-cards-sessions">


  <app-card-session *ngFor="let session of formations" [dataSession]="session"></app-card-session>


          </div>





         <!-- <div class="span">
            <div id="Element1"> <app-details-formation ngFor ="let formation of formations.session"  >

            </app-details-formation>
            <mat-card  >
              <mat-card-subtitle> La carte de la formation</mat-card-subtitle>
            </mat-card></div>
            <div id="Element2">Element 2</div>
            <div id="Element3">Element 3</div>
            <div id="Element4">Element 4</div>
            <div id="Element5">Element 5</div>
            <div id="Element6">Element 6</div>
            <div id="Element7">Element 7</div>
            <div id="Element8">Element 8</div>
          </div>
        </div>
      </div>

            <div class="span"> -->
              <!-- <mat-card  >Simple card
                <mat-card-subtitle> La carte de la formation3</mat-card-subtitle>
              </mat-card> -->
            <!-- </div> -->
             <!-- <div class="span"> -->
              <!-- <mat-card >Simple card
                <mat-card-subtitle> La carte de la formation4</mat-card-subtitle>
              </mat-card> -->
            <!-- </div> -->
        <!-- </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



