<p>recherche works!</p>


<div class="block-title col-xs-12">
  <h1 class="header-school"></h1>
</div>

<a id="flex-container"></a>

<div class="region region-content">
  <section id="block-system-main" class="block block-system clearfix">

    <div class="row">
      <div class="col-sm-12">


        <!-- Title -->
        <h1>CatalogueFormations</h1>
        <!-- Styles -->

        <div class="main container" style="padding-top: 2em;">
          <h2 class="dividing-header">Moteur de recherche du catalogue des formations</h2>
<!--La box qui englobe les boutons-->
<div class="top-attached-tabular-menu">
  <div class="align-bar-recherch">

    <div id="lieu" class="dropdown">
      <button class="dropbtn">Recherche par lieu de session</button>
      <div class="dropdown-content">
        <div class="menu" tabindex="-1">
          <a href="#">
            <div data-value="Lyon" class="item">Lyon</div>
          </a>
          <a href="#">
            <div data-value="Paris" class="item">Paris</div>
          </a>
          <a href="#">
            <div data-value="Lille" class="item">Lille</div>
          </a>
          <a href="#">
            <div data-value="Autre site" class="item">Autres</div>
          </a>
        </div>
      </div>
    </div>



    <div id="annee" class="dropdown">
      <button class="dropbtn">Année académique</button>
      <div class="dropdown-content">
        <div class="menu" tabindex="-1">
          <a href="#">
            <div data-value="2022" class="item">2022-2023</div>
          </a>
          <a href="#">
            <div data-value="2021" class="item active selected">2021-2022</div>
          </a>
          <a href="#">
            <div data-value="2020" class="item">2020-2021</div>
          </a>
          <a href="#">
            <div data-value="2019" class="item">2019-2020</div>
          </a>
          <a href="#">
            <div data-value="2018" class="item">2018-2019</div>
          </a>
          <a href="#">
            <div data-value="2017" class="item">2017-2018</div>
          </a>
        </div>
      </div>
    </div>

    <div id="domaine" class="dropdown">
      <button class="dropbtn">
        <div data-tab="courses" class="item">Rechercher un domaine d'enseignement</div>
      </button>
      <div class="dropdown-content">
        <div class="menu" tabindex="-1">
          <a href="#">
            <div data-value="ja" class="item">Business Intelligence</div>
          </a>
          <a href="#">
            <div data-value="jj" class="item">Management de projet</div>
          </a>
          <a href="#">
            <div data-value="ja" class="item">Language informatique</div>
          </a>
          <a href="#">
            <div data-value="jj" class="item">Administration réseaux</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="top-attached-tabular-menu vide"><div class="column"></div> </div>
  <div class="top-attached-tabular-menu menu2">
    <!--Ici la seconde box pour  ligne des barres de recherche 2-->


      <div class="align-bar-recherch lign2">
        <div class="column">







          <div id="forma" class="dropdown">
            <button class="dropbtn">Rechercher une formation</button>
            <div class="dropdown-content">
              <div class="menu" tabindex="-1">
                <a href="#">
                  <div data-value="ja" class="item">JAVA</div>
                </a>
                <a href="#">
                  <div data-value="jj" class="item">JavaJee</div>
                </a>
                <a href="#">
                  <div data-value="cpp" class="item">C++</div>
                </a>
                <a href="#">
                  <div data-value="c" class="item">C</div>
                </a>
                <a href="#">
                  <div data-value="cdi" class="item">C#</div>
                </a>
                <a href="#">
                  <div data-value="sp" class="item">SPRING</div>
                </a>
                <a href="#">
                  <div data-value="sb" class="item">SPRINGBOOT</div>
                </a>
                <a href="#">
                  <div data-value="py" class="item">PYTHON</div>
                </a>
                <a href="#">
                  <div data-value="ru" class="item">RUBY</div>
                </a>
                <a href="#">
                  <div data-value="js" class="item">JAVASCRIPT</div>
                </a>
                <a href="#">
                  <div data-value="sql" class="item">SQL</div>
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="column">
          <div id="affiche" class="afficher">
            <div class="sess">Ici s'affichera la liste des cards-sessions qui intéressent l'utilisateurla session et son lieu</div>
           <!--     <app>      *ngFor= "cardsListChoice of cardsListChoices"       <app>-->
          </div>
        </div>
      </div>



              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
  </section>
