<form class="form-create-formation" [formGroup]="formationForm">
  <div class="row">
    
      <div class="input-group">
        <label for="theme" class="label"
        >Thème<span class="required-input"></span
      ></label>
      <select class="input"  formControlName="themes">
        <option [ngValue]="theme" *ngFor="let theme of themes">{{theme.nom}}</option>
      </select>
      </div>
     

    

      <label for="formation">Formation</label>
      <input
        type="text"
        class="input"
        formControlName="nom"
        placeholder="Nom de la formation"
      />

    <label for="description">Détails de la Formation</label>
    <input
      type="textarea"
      class="input"
      formControlName="description"
      placeholder="decrire la formation"
    />
    <label for="prix ">Prix</label>
    <input type="number" class="input" formControlName="prix" /><span>€</span>
    <div class="invalid-feedback">Valid prix is required.</div>
 
    <h4 class="mb-3">
      En attente de Validation de la formation par le Responsable
    </h4>
    <span style="visibility: hidden"
      >Validation de la formation par le Responsable ce "date"</span
    >

    <div class="container-btn-inscription">
      <button class="btn" (click)="submitForm()">
        ENREGISTRER LA FORMATION
      </button>
    </div>
  </div>
</form>
