.container-details-formation{
    width: 100%;
    hr{
        margin-right: 100px;
    }
    .card-details-formation{
        width: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .content-details-formation{
            height: 85%;
            width: 90%;
            padding: 20px;

            .body-content-details-formation{
                display: flex;
                height: 100%;
                overflow: hidden;
                padding: 20px;
                .container-content-details-formation-left{
                    width: 70%;
                    .bg-img{
                        width: 100%;
                        height: 200px;
                        opacity: 0.4;
                        position: relative;
                        display: flex;
                        .img{
                            width: 100%;
                        }
                    }
                    .text-bg-img{
                        position: relative;
                        font-size: 22px;
                        top: -120px;
                        text-align: center;
                        height: 0;
                        margin: 0;
                    }
                }
                .container-content-details-formation-right{
                    width: 70%;
                    .container-actions{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-around;
                        align-items: center;
                        .btn{
                            width: 60%;
                            height: 22%;
                            border: 1px solid rgba(149, 157, 165, 0.2);
                            color: #749dfa;
                            font-weight: bold;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            border-radius: 5px;
                        }
                        .btn:hover {
                            background-color: #749dfa;
                            color: #f5f5f5;
                            transition: background-color 0.5s;
                        }

                        
                    }
                }

            }
        }
    }
}