

<div class="background">
    <div class="card-header">

      <div class="card">
        <div class="name">
          {{ user.name }}
        </div>
        <div class="info">
         
<div class="utilisateur" type=" string">Utilisateur : </div>         
<div class="id" type="hidden number">
<div class="nom" type="string"> Nom :</div>
<div class="prenom" type="string">Prenom :</div>
<div class="date_Naissance" type="Date">Date de naissance :</div>
<div class="entreprise" type="string">Entreprise :</div>
<div class="role" type="hidden string">
<div class="service_id" type="number">Id de service:</div>
<div class="adresse_id" type="number"> Id de l'adresse:</div>
        </div>
      </div>
    </div>
  </div>
 