<table *ngIf="theme">
    <thead>
        <tr>
            <th>Libellé</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="theme">
        <tr *ngFor="let formation of theme.formations; let i = index">
            <td class="td-nom-formation">{{formation.nom}}</td>
            <td>{{txt}}</td>
            <td [routerLink]="[formation.nom.replace(regexUri, '-'), formation.id]">Actions</td>
        </tr>
    </tbody>
</table>

<!--| slice:0:140-->
