.main{
    // display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 100vh;
    padding: 30px;
}

app-nav-bar{
    position: absolute;
    width: 100%;
    left: 0;
}

app-sidenav{
    margin-top: 100px;
    height: 100%;
}

.container-content{
    display: flex;
}

