.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-nav-bar{
    position: absolute;
    width: 100%;
    left: 0;
}

app-sidenav{
    margin-top: 100px;
    height: 100%;
}

.container-content{
    display: flex;
    height: 100%;

}



