
<div class="container-inscription-client">
    <form class="form-inscription-client">
        <div class="container-input">
            <label for="" class="label"> Nom : <span class="required-input">*</span></label>
            <input type="text" class="input">
        </div>
        <div class="container-input">
            <label for="" class="label">Prénom : <span class="required-input">*</span></label>
            <input type="text" class="input">
        </div>
        <div class="container-input">
            <label for="" class="label">Prénom : <span class="required-input">*</span></label>
            <input type="date" class="input">
        </div>
        <div class="container-input">
            <label for="" class="label">Entreprise : <span class="required-input">*</span></label>
            <input list="browsers" name="browser" class="input">
            <datalist id="browsers">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>
        </div>
        <div class="container-btn-inscription">
            <button class="btn">S'inscrire</button>
        </div>
    </form>
</div>


