<p>footer-component works!</p>


<div class="row footer1">
	<div class="cols4">
		<ul>
			<li class="titrecol">A propos d'ib</li>
			<li><a href="/nous-connaitre/nous-connaitre">Nous conna&icirc;tre</a></li>
			<li><a href="/qualite-ib/nos-sites">Nos centres de formation</a></li>
			<li><a href="/nous-connaitre/groupe-cegos">Groupe Cegos</a></li>
			<li><a href="/recrutement/nos-recrutements">Recrutement</a></li>
			<li><a href="/nous-connaitre/actualites">Actualit&eacute;</a></li>
			<li><a href="/newsletter">Newsletter</a></li>
		</ul>
	</div>
	<div class="cols4">
		<ul>
			<li class="titrecol">Aide</li>
			<li><a href="/infos-pratiques/faq">FAQ</a></li>
			<li><a href="/Portals/0/pdf/bulletin-inscription-et-CGV.pdf">Bulletin d'inscription</a></li>
			<li><a href="/ib-cegos/contact">Nous contacter</a></li>
			<!--li><a href="/demande-de-catalogue">Demande de catalogue</a></li-->
		</ul>
	</div>
	<div class="cols4">
		<ul class="certifqual">
			<li class="titrecol">Quality; et certification</li>
			<li class="picto-afaq"></li>
			<li class="picto-qualiopi"></li>
			<li class="picto-datadock"></li>
		</ul>
	</div>
	<div class="cols4">
		<ul>
			<li class="titrecol">Suivez-nous</li>
			<li class="picto-smo"><a href="https://www.linkedin.com/company/ib---groupe-cegos"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
			<li class="picto-smo"><a href="https://twitter.com/CegosIb"><i class="fab fa-twitter"></i> Twitter</a></li>
			<li class="picto-smo"><a href="https://www.facebook.com/ibgroupecegos/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
			<li class="picto-smo"><a href="https://www.youtube.com/channel/UC0axoGp82iAwPnMDHhlvUwQ"><i class="fab fa-youtube"></i> Youtube</a></li>
		</ul>
	</div>
</div>

<div class="row subfooter">
	<ul class="legal">
		<li><img src="/Portals/0/logo-cegos.png" style="width:40px;height:40px;"> <span id="dnn_copyright_lblCopyright" class="SkinObject">© 2022 ib - Groupe Cegos</span>
</li>
		<li>
    		<a class="SkinObject" href="https://www.ib-formation.fr/informations-legales/mentions-legales">Mentions légales</a><a class="SkinObject" href="https://www.ib-formation.fr/informations-legales/cgv">CGV</a><a class="SkinObject" href="https://www.ib-formation.fr/plan-du-site">Plan du site</a>
		</li>
	</ul>
</div>

