
.container-home-formations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-sidenav{
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 400px;
    // /* height: 100%; */
    // top: 100px;
}