/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Roboto:wght@1,300&display=swap');
html{
    height: 100vh;
}

body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


app-themes-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

app-root{
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-liste-formations{
    width: 100%;
    table{
        width: 100%;
    }
}
