/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Roboto:wght@1,300&display=swap');
html{
    height: 100vh;
}

body{
    height: 100%;
    margin: 0;
<<<<<<< HEAD
    // font-family: 'Biryani', sans-serif;
    font-family: 'Roboto', sans-serif;
}

app-root{
    display: flex;
    justify-content: center;
}

app-themes-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
=======
    display: flex;
    flex-direction: column;
}

app-root{
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> b1ed5b8036869a1de3f9e36d422fb3cab6f400ae
