@import '../../../../assets/variables.scss';
.container-domaine{
    .title-domaine{
        font-size: 16px;
        p{
            padding: 5px;
            background-color: rgb(255 144 47);
            margin: 0;
            padding-left: 10px;
            font-weight: 600;

        }
    }
    ul{
        margin: 0;
        padding: 0;
        li:hover{
            background-color: $color-light;
            .mat-icon{
                color: #5280eb;
            }
        }
        li{
            list-style: none;
            cursor: pointer;
            font-size: 14px;
            color: $color-medium;
            // background-color: $color-light;
            padding: 5px;
            display: flex;
            .container-list {
                width: 100%;
                p{
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                }
                span{
                    display: flex;
                    font-size: 12px;

                    align-items: center;
                    font-weight: bold;
                }
                mat-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px;
                    font-size: 16px;
                
                }
            }
        }
    }
}