.footer {
  width: auto;
  height: 250px;
  margin-top: 730px;
  background: black;
  border-top: 3px solid orange;
  color: #e8e9ec;
}

.container-section{

  height: 100%;
}
section{
    display: flex;
    height: 100%;
    flex-direction: column;
  }


.paul{
  display: flex;
  height: 75%;
  margin: 30px;
}
.buttons{
  width: 25%;
  height: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
.titrecol{
margin-right: 10px;

}
}
.containeur-button{

  height: 50%;
}
.picto-smo{
  background-color:black;
}

.container-copyright{

margin-bottom: 10px;
width: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
height: 100%;
}
.first-container, .copyright{

color: #f5f5f5;
  width: 230px;
  text-align: center;
}
.container-content-footer{
display: flex;
  width: 100%;
  justify-content: space-between;
}
.navs{
  width: 100%;
  display: flex;
    justify-content: flex-end;

}
.container-nav-footer{
  width: 100%;
  display: flex;

}

nav{
  width: 25%;
.row{
  ul{
    list-style: none;
    li{
      a{
        text-decoration: none;
        color: #a5a5a5;
      }
      a:hover{
        text-decoration: none;
        color: #f2f2f2;
      }
    }
  }
}

}