.footer {
  width: auto;
  height: auto;
  background: black;
  border-top: 3px solid orange;

}


.block{
  text-emphasis-color: white;
}


.main-container {

    background: #e8e9ec;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  user agent stylesheet div {
    display: block;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

