<footer class="footer">
  <div class="container-section">
    <section id="block-core-footer-menus" class="block block-core clearfix">
      <div class="paul">
        <div class="container-content-footer">

          <div class="navs">
            <div class="container-nav-footer">
              <nav class="">

                <h3>PYO<span> &amp; vous</span>
                  <div class="arrow-up"></div>
                </h3>

                <div class="row">
                  <ul class="col-sm-6 col-xs-12">
                    <li><a href="#">Futur étudiant</a></li>
                    <li><a href="#">Futur collaborateur</a></li>
                  </ul>

                  <ul class="col-sm-6 col-xs-12">
                    <li><a href="#">Nos anciens</a></li>
                    <li><a href="#">Notre lettre Verte</a></li>
                    <li><a href="#">Presse</a></li>
                  </ul>
                </div>

              </nav>

              <nav class="">
                <h3>PYO en bref<span> </span>
                  <div class="arrow-up"></div>
                </h3>
                <div class="row">
                  <ul class="col-sm-6 col-xs-12">
                    <li><a href="#">Découvrir PYO</a></li>
                    <li><a href="#">Sites</a></li>
                    <li><a href="#">Catalogue des formations</a></li>
                    <li><a href="#">International</a></li>
                  </ul>
                </div>
              </nav>

              <nav class="">
                <h3>PYO en pratique<span> </span>
                  <div class="arrow-up"></div>
                </h3>
                <div class="row">
                  <ul class="col-sm-6 col-xs-12">
                    <li><a href="#">Inscriptions</a></li>
                    <li><a href="#">Répertoire</a></li>
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Contact &amp; accès</a></li>
                  </ul>
                  <ul class="col-sm-6 col-xs-12">
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Contact &amp; accès</a></li>
                  </ul>
                </div>
              </nav>
              <div class="buttons">

                <p class="titrecol">Suivez-nous</p>

                <div class="containeur-button">
                  <button class="picto-smo"><a href="https://www.linkedin.com/"><img src="/assets/images/linkedin_icon.png"
                        alt="Linkedin"> </a></button>
                  <button class="picto-smo"><a href="https://twitter.com/"><img src="/assets/images/twitter_icon.png"
                        alt="Twitters">
                    </a></button>
                  <button class="picto-smo"><a href="https://www.facebook.com/"><img src="/assets/images/facebook_icon.png"
                        alt="facebook"></a></button>
                  <button class="picto-smo"><a href="https://www.youtube.com/"><img src="/assets/images/youtube_icon.png"
                        alt="youtube"> </a></button>
    
                </div>
    
              </div>
            </div>

            
          </div>


        </div>




      </div>

      <div class="container-copyright">


        <div class="first-container">
          <span class="first">Copyright 2022 - © PYO</span>



        </div>


      </div>





    </section>
  </div>


</footer>