<form [formGroup]="domaineForm">
    <div class="input-group">
        <div class="input-div">
            <label class="label" for="">Nom du domaine :</label>
            <input class="input" type="text" formControlName="nom">
        </div>
        <div class="error" *ngIf="domaineForm.controls['nom'].invalid && (domaineForm.controls['nom'].dirty || domaineForm.controls['nom'].touched)">
            <span >Veuillez renseigner un nom</span>
        </div>
    </div>
    <button (click)="submit()">Ajouter</button>
</form>