
.tablink {
    width: 120px;
    height: 30px;
    background-color: #f9c056;
    margin-top: 5px; 
}

.Pyo_logo {
    width: 10%;
    height: 10%;
    margin-top: 5px;
  }

  .navbar{
    width: auto;
    height: auto;
    background-color: black; 
    border-bottom: 3px solid orange;

}
// .nav{
//     height: 90px;
//     width: 100%;
// }
.nav{
    height: 90px;
    width: 100%;
}
