<div class="container-domaine" #listeElem  >
    <div class="title-domaine" (click)="showThemes(data.id, $event)">
        <p>{{data.nom}} <mat-icon *ngIf="!isShowThemes">keyboard_arrow_down</mat-icon><mat-icon *ngIf="isShowThemes" >keyboard_arrow_up</mat-icon></p>
    </div>
    <ul id={{data.id}} #listeUls class="ul" [hidden]="!isShowThemes" [ngStyle]="{'border-bottom': !data.themes.themes ? '1px solid rgb(112, 112, 112)' : 'none'}">
        <li *ngFor="let theme of data.themes"  (click)="showListFormation(theme)" [ngStyle]="{'background-color':!theme.themes ? '#f5f5f5' : 'white'}">
            <div>
                <p [ngStyle]="{'background-color':!theme.themes ? '#f5f5f5' : 'white'}">
                    {{theme.nom}} <span [ngStyle]="{'font-weight': 'bold'}">({{theme.formation.length}})</span> 
                    <mat-icon *ngIf="theme.themes && !isShowSubThemes" (click)="showSubThemes()">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="theme.themes && isShowSubThemes" (click)="showSubThemes()">keyboard_arrow_up</mat-icon>
                    <mat-icon *ngIf="!theme.themes" class="eye-icon" >visibility</mat-icon>
                </p>
                 <div *ngIf="theme.themes && theme.themes.formation.length > 0" class="container-sous-themes" [hidden]="!isShowSubThemes">
                    <ul>
                        <li *ngFor="let sousTheme of theme.themes"  (click)="showListFormation(sousTheme)" [routerLink]="['/catalogue', 'liste-des-formations', data.nom.replace(regexUri, '-'), data.id, theme.nom.replace(regexUri, '-'), theme.id]" [ngStyle]="{'background-color':'#f5f5f5'}">{{sousTheme.nom}} 
                            <mat-icon class="eye-icon">visibility</mat-icon>
                        </li>
                     </ul>
                 </div>
            </div>
        </li>
    </ul>
</div>
